DALL·E 2024-09-13 10.43.06 - A realistic globe of the Earth with a water faucet attached to it, dripping water into a glass below. The glass is partially filled with water, and th.webp
DAN-P8-donnees.zip
Faites_une_étude_sur_l'eau_potable_vercellotti_françois.zip
Logo .jpg
Présentation.docx
RegionCountry+ (p10_DonnéeTraitées).hyper
Projet n°10.pptx
DAN-P8-donnees